@model PostUserModel

@{
    ViewData["Title"] = "Criar Post";
}
<script type="text/javascript" src="~/js/nomeUsuario.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

    <script>
    $('.summernote').summernote({
        // your options... and
        maximumImageFileSize: 500 * 1024, // 500 KB
        callbacks: {
            onImageUploadError: function (msg) {
                console.log(msg + ' (1 MB)');
            }
        }
    });
    </script>

<div class="row">
        <div class="col-md-2">

        </div>

    <div class="col-md-8">
        <div class="coluna2">
            <div class="cartao2">
                <img src="/images/criar_publicacao.jpg" />
            </div>
        </div>


        <div class="container col-md-8" >
        <form asp-controller="PostUser" asp-action="Criar" method="post" >

                <div class="form-floating">
                    <input type="text" asp-for="@Model.NomeUsuario" class="form-control" id="Nome" placeholder="Nome">
                    <label for="floatingNome">Nome do usuário</label>
                </div>
                <div class="form-floating">
                    <input type="text" asp-for="@Model.Titulo" class="form-control" id="Titulo" placeholder="Titulo">
                  <label for="floatingTitulo">Titulo do Post</label>
                </div>


                <div class="form-floating">
                    <input type="text" asp-for="@Model.Descricao" class="form-control" id="Descricao" placeholder="Descrição">
                    <label for="floatingDescricao">Descrição</label>
                </div>

                <div class="form-floating">
                    <input type="text" asp-for="@Model.Materia" class="form-control" id="Materia" placeholder="Materia">
                    <label for="floatingMateria">Matéria</label>
                </div>

                <div class="form-floating">
                    <textarea asp-for="@Model.Conteudo" class="form-control" id="summernote"></textarea>
                </div>

                <!--<textarea asp-for="Conteudo" id="Conteudo" name="editordata"></textarea>-->
            <div class="row w3-row-padding form-group" >
                    <button class="w-50 btn btn-lg btn-primary" type="submit" value="Criar" onclick="setNomeUsuario()">Criar</button>
                    <a asp-controller="Home" asp-action="Index" type="button" class="w-50 btn btn-lg btn-success">Voltar</a>
                </div>
            
                
        </form>

        
        </div>
        <div class="justify-content-center">
           

   
        </div>
        <div class="col-md-2">
        </div>

    @section Scripts {
        <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
        <script>
            $(document).ready(function(){
                    
                        $('#summernote').summernote({
                        placeholder: 'Escreva seu Conteudo',
                        tabsize: 3,
                        height: 300,
                        toolbar: [
                            ['style', ['style']],
                            ['font', ['bold', 'underline', 'clear']],
                            ['color', ['color']],
                            ['para', ['ul', 'ol', 'paragraph']],
                            ['table', ['table']],
                            ['insert', ['link', 'picture', 'video']],
                            ['view', ['codeview', 'help']]
                        ]
                           
                    });
            })
                
        </script>
        <!-- script para deixar as imagens do usuário responsivas e limitar o tamanho da imagem-->
        <script>
                callbacks: {
                    onImageUpload: function (files) {

                        if (!files.length) return;
                        var file = files[0];
                        // create FileReader
                        var reader = new FileReader();
                        reader.onloadend = function () {
                            // when loaded file, img's src set datauri
                            console.log("img", $("<img>"));
                            var img = $("<img>").attr({ src: reader.result, width: "100%" }); // << Add here img attributes !
                            console.log("var img", img);
                            $('#postBody').summernote("insertNode", img[0]);
                        }

                        if (file) {
                            // convert fileObject to datauri
                            reader.readAsDataURL(file);
                        }

                    }
                }
        </script>
        

}
</div>
